<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen bg-black flex flex-col justify-center items-center">
   <!-- Liked page -->
    <div class="w-full max-w-md bg-red-800 p-8 rounded-lg shadow-lg text-white mb-4">
        <p class="text-2xl font-bold mb-4">You are interested in Pooja Maulekhi's profile.</p>
        <p class="text-lg mb-2">Thank you for showing your interest in this profile.</p>
    </div>

    <a href="http://localhost:3000/portfolio" class="tet-xl text-white hover:underline">
        Come back to Pooja's Profile
    </a>

</body>
</html> 
